
html,
body {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.contrast-box {
  align-items: center;
  justify-content: center;
  border: 0.20rem solid white;
  display: flex;
  padding: 0.25rem 1.75rem;
}

.contrast-box:hover {
  border-color: #e2e2e2;
}